header {
  background: url("http://warlock-course.qiniudn.com/wide-wallpaper.jpg") no-repeat;
  overflow: hidden;
  background-position-y: -600px;
  background-position-x: -220px;
  color: white;
  transition: background-position-x 2s ease;

  h1 {
    margin-top: 200px;
    margin-bottom: 40px;
    text-align: right;
    padding-right: 105px;
  }
}

header:hover {
  background-position-x: -500px;
  transition: background-position-x 2s ease;
}

body #main-body{
  width: 1000px;
  margin: auto;
  overflow: hidden;

  #micropost-main-list {
  width: 100%;

    .micropost-iterm:first-child {
      textarea {
        width: 90%;
      }
    }

    .micropost-iterm {
      margin-top: 20px;
      margin-bottom: 20px;
      margin: 20px;
      min-height: 60px;
      padding: 10px;
      background-color: aliceblue;

      .micropost-user {
          text-align: right;
      }

      .micropost-user:before {
        content: "--";
      }

      .micropost-action {
        visibility: hidden;
      }
    }

    .micropost-iterm:hover {
      background-color: cornsilk;

      .micropost-action {
        visibility: visible;
      }
    }
  }

  #new-micropost {
    text-align: right;
    padding-right: 40px;
  }
}
