header {
  background: url("http://warlock-course.qiniudn.com/background.png") no-repeat;
  min-height: 300px;
  overflow: hidden;

  h1 {
    margin-top: 60px;
    text-align: right;
    padding-right: 40px;
  }
}

body #main-body{
  width: 1000px;
  margin: auto;
  overflow: hidden;

  #micropost-main-list {
  width: 100%;

    .micropost-iterm {
      margin-top: 20px;
      margin-bottom: 20px;
      margin: 20px;
      min-height: 60px;
      padding: 10px;
      background-color: aliceblue;

      .micropost-user {
          text-align: right;
      }

      .micropost-user:before {
        content: "--";
      }

      .micropost-action {
        display: none;
      }
    }

    .micropost-iterm:hover {
      background-color: cornsilk;

      .micropost-action {
        display: block;
      }
    }
  }

  #new-micropost {
    text-align: right;
    padding-right: 40px;
  }
}
